.DS_Store
node_modules
test/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 忽略web文件夹下的所有内容
web/*
# 保留web文件夹，即使它是空的
!.gitkeep

#Editor directories and files
.idea
.vscode
*.suo
.ntvs
*.njsproj
*.sln
.history